.delivery__container {
    padding-top: 160px;
    padding-bottom: 200px;
    
}

.delivery__list {
    @include reset-list;
    display: flex;
    position: relative;
    

     &::before {
         content: '';
         width: 974px;
         height: 15px;
   background-color: #E5ECF4;
   position: absolute;
   top: 48px;
   left: -158px;
   z-index: -1;

     }
}

.delivery__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

}




.delivery__item-title {
    max-width: 350px;
    font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: $black;
margin-top: 40px;
margin-bottom: 27px;
}

.delivery__item-description {
    max-width: 350px;
     font-family: Lexend Deca;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
color: $grey;
margin: 0;

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .intro{
      background-image: url(../../img/delivery-phone@2x.png);

  }
}


@media screen and (max-width: $tablet){

    .delivery__container{
        padding-top: 122px;
        padding-bottom: 145px;
    }

    .delivery__list {
        flex-direction: column;

        &::before {
            content: '';
            top: -20px;
            transform: translate(-29%, 0%)rotate(90deg);
        }
    }

   

    .delivery__item {
        display: flex;
        margin-bottom: 40px;
        margin-right: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .delivery__item-title {
        max-width: 398px;
        margin-top: 0;
    }

    .delivery__content {
        max-width: 398px;
        margin-left: 79px;
    }
    
    
}

@media screen and (max-width: $mobile) {

    .delivery__container {
        padding: 120px 32px 120px;
    }

.delivery__list::before {
    display: none;
}


.delivery__item {
    display: block;
    text-align: center;
    margin-bottom: 48px;
    

    &:last-child {
        margin-bottom: 0;
    }
}

.delivery__item-img {
  width: 56px;
   height: 56px;
   margin: 0;
}

.delivery__content {
    margin: 0;
}



.delivery__item-title {
    max-width: 311px;
    font-size: 20px;
line-height: 28px;
letter-spacing: -0.892857px;
margin: 24px 0 24px;

}
.delivery__item-description {
max-width: 311px;
margin: 0;
}



}